* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.point {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(0, 243, 0, 0.5);
  color: red;
  font-size: 15px;
}
.corner {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  font-size: 15px;
  opacity: 0;
}
.corner.corner7 {
  opacity: 0;
}
.point1 {
  left: 80%;
  top: 90%;
}
.point2 {
  left: 75%;
  top: 60%;
}
.point3 {
  left: 65%;
  top: 40%;
}
.point4 {
  left: 50%;
  top: 53%;
}
.point5 {
  left: 35%;
  top: 81%;
}
.corner1 {
  left: 75%;
  top: 90%;
}
.corner2 {
  left: 75%;
  top: 50%;
}
.corner3 {
  left: 90%;
  top: 50%;
}
.corner4 {
  left: 90%;
  top: 40%;
}
.corner5 {
  left: 50%;
  top: 40%;
}
.corner6 {
  left: 50%;
  top: 81%;
}
.corner7 {
  left: 30%;
  top: 81%;
}
.corner8 {
  left: 15%;
  top: 81%;
}
.corner9 {
  left: 15%;
  top: 15%;
}
.corner10 {
  left: 30%;
  top: 15%;
}
